@page "/login"
@inject Votify.Services.Interfaces.IAuthService AuthService
@inject Votify.Web.Services.UserSession Session
@inject NavigationManager Navigation

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">

    <div class="card shadow p-4" style="width: 350px;">

        <h3 class="text-center mb-4">Iniciar sesión</h3>

        <div class="mb-3">
            <label>Email</label>
            <input @bind="email" class="form-control" placeholder="Email" />
        </div>

        <div class="mb-3">
            <label>Contraseña</label>
            <input @bind="password" type="password" class="form-control" placeholder="Contraseña" />
        </div>

        @if (!string.IsNullOrEmpty(mensaje))
        {
            <div class="alert alert-danger">
                @mensaje
            </div>
        }

        <button @onclick="HandleLogin" class="btn btn-primary w-100">
            Iniciar sesión
        </button>

    </div>

</div>

@code {
    private string email;
    private string password;
    private string mensaje;

    private async Task HandleLogin()
    {
        if (string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(password))
        {
            mensaje = "Rellena todos los campos";
            return;
        }

        try
        {
            var user = await AuthService.Login(email, password);
            Session.Usuario = user;

            if (user is Votify.Core.Models.Participante p)
            {
                Navigation.NavigateTo($"/dashboard-participante/{p.Id}", false);
            }
            else
            {
                Navigation.NavigateTo("/", false);
            }
        }
        catch
        {
            mensaje = "Credenciales incorrectas";
        }
    }
}
