@page "/login"
@inject Votify.Services.Interfaces.IAuthService AuthService
@inject Votify.Web.Services.UserSession Session
@inject NavigationManager Navigation

<h3>Login</h3>

<div>
    <input @bind="email" placeholder="Email" />
</div>

<div>
    <input @bind="password" type="password" placeholder="Contraseña" />
</div>

<button @onclick=" HandleLogin">Iniciar sesión</button>

<p style="color:red">@mensaje</p>

@code {
    private string email;
    private string password;
    private string mensaje;

    private async Task HandleLogin()
    {
        
        if (string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(password))
        {
            mensaje = "Rellena todos los campos";
            return;
        }
        try
        {
            var user = await AuthService.Login(email, password);
            Session.Usuario = user;
            //mensaje = "Login correcto";

            // Redirección según el tipo de miembro
            if (user is Votify.Core.Models.Participante p)
            {
                Navigation.NavigateTo($"/dashboard-participante/{p.Id}", false);
            }
            else
            {
                // Si es Organizador o Administrador, va a la página principal
                Navigation.NavigateTo("/", false);
            }
        }
        catch (Exception ex)
        {
            //mensaje = ex.Message;
            mensaje = "Credenciales incorrectas";
        }
    }

}
